.react-player{
    height: 100vh;
}
.usuario, .contrasenia{
    display: flex;
    padding: 0px 10px;
}
fieldset{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0px;
    color: black;
    margin-top: 100px;
    box-shadow: 1px 8px 8px rgb(113, 111, 111);
    background-color: rgba(255, 255, 255, 0.427);
}
fieldset:hover{
    box-shadow: none;
}
input{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.575);
    

    
}
input::placeholder{
    color:black;
    padding-left: 20px;
}

.login{
height: 100vh;
padding: 0;
margin: 0;
}

.login button{
    width: 50%;
    height: 40px;
    border-radius: 7px;
    background-color: var(--color-principal);
    opacity: 0.7;
    color: black;
    font-size: 1.1em;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

}
.login button:hover{
    background-color: rgb(11, 155, 155);
}
.login{
    text-align: center;
}
.login .footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
}
.form{
    position: relative;
}
.p-inputgroup-addon{
    background-color: var(--color-principal);
    color: antiquewhite;
}